@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Nunito&family=Roboto:wght@400;700&display=swap');

.cmtContainer{
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    left: 0;
    top: 0;
    padding: 30px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .cmtWrap{
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .cmtWrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  
  .cmtZone{
    width: 100%;
    height: auto;
    border: 1px solid gray;
    border-radius: 7px;
    margin: 20px 0;
  }
  
  .cmtInfo{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #383838;
    background-color: #E5E5E5;
    padding: 10px 10px 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
  }
  
  .cmtWriteInfo{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: #fff;
  }
  
  .cmtDate{
    margin-left: 0.5rem;
  }
  
  .cmtDelBtn{
    margin-left: 0.5rem;
  }
  
  .cmtBtnWrap > button{
    font-size: 1.5rem;
  
  }
  
  .comment{
    color: #383838;
    padding: 0 10px 15px;
  }
  
  .cmtWriteWrap{
    background-color: #142D47;
    margin: 20px 0;
    padding: 10px 10px 15px;
    border-radius: 7px;
  }
  
  .cmtSaveBtn{
    font-size: 1.5rem;
    color: #fff
  }