@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Nunito&family=Roboto:wght@400;700&display=swap');

.container {
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: .3fr .7fr;
  overflow: hidden;
}

.contentsL {
  width: 100%;
  padding: 20px 60px 20px 10px;
}

.btnWrap{
  margin-top: 2rem;
  text-align: right;
}

.btnWrap > button{
  font-size: 1.5rem;
  margin-left: 15px;
  color: #142D47
}

.contentBox{
  margin-top: 5rem;
}

.contentsTitleBox {
  display: grid;
  grid-template-columns: 20px 9fr .1fr;
  font-size: 22px;
  font-weight: 600;
}

.contentsLocal {
  margin-top: 3rem;
  /* width: 14rem; */
  width: 100%;
  font-size: 14px;
  border: 2px rgb(177, 177, 177) dotted;
  padding: .5rem;
}

.contentsLocal > p{
  text-align: justify;
}

.contentsBody {
  line-height: 1.5rem;
  margin-top: 2.5rem;
  font-size: 14px;
  width: 100%;
  text-align: justify;
  /* 스크롤바 */
  height: 200px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.contentsBody::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.contentsY {
  width: 4px;
  height: 33px;
  background-color: #292626;
  /* text-align: right; */
  margin-right: 15px;
}

.contentsHeart {
  font-size: 1.7rem;
  float: right;
  color: #F24822;
}

.contentsComments {
  font-size: 16px;
  text-align: center;
  margin-top: 0.5rem;
}
.contentsComments {
  font-size: 16px;
  text-align: center;
  margin-top: 0.5rem;
}

.contentsComments {
  font-size: 16px;
  text-align: center;
  margin-top: 0.5rem;
}


.contentsR {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.contentsImg {
  width: 1200px;
  height: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.contentsImgImg {
  
  object-fit: cover;
}
