.container {
    width: 100px;
    background-color: #005774;
    top: 0;
    right: -100px
}
.menuContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}
li{
    transform: rotate(90deg);
    /* margin: 0 15px; */
    font-weight: bold;
    font-size: 25px;
}

.login{
    font-size: 3rem;
    transform: rotate(-90deg);
    position: absolute;
    bottom: -27px;
    left: 0;
    color: #fff;
}

.text{
    display: none;
}